/*
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;
*/

/* ------------------- Inicio Footer --------------------- */

.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 15px;
    align-items: center;
}

.card-footer {
    max-width: 300px;
    margin: 20px;
}
.icono-footer {
    color: #03264C;
    font-size: 30px;
}
.icono-footer:hover {
    color: #EAC926;
}

.card-footer h3 {
    font-size: 17px;
    color: #03264C;
    margin: 10px;
}
.card-footer p {
    font-size: 12px;
}
.copyright {
    font-size: 10px;
    text-align: left;
    margin: 10px;
    color: #666;
}

/* ------------------- Inicio Medias Queries --------------------- */

@media (min-width: 768px) {

    .icono-footer {
        font-size: 40px;
    }
    
    .card-footer h3 {
        font-size: 20px;
        color: #03264C;
        margin: 10px;
    }
    .card-footer p {
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
    
}